<?xml version="1.0" ?>
<model> 
  <name>Arena Floor</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    Simple arena floor with 0.5x0.5m white tiles.
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>