<?xml version="1.0" ?>
<model> 
  <name>A wooden wall</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    A wooden wall of Length 1050mm, Width 30mm and Height 250mm.
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>