<?xml version="1.0" ?>
<model>
    <name>pillar_turquoise</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Tom Howard</name>
        <email>t.howard@sheffield.ac.uk</email>
    </author>
    <description>A 30cm diameter by 0.5m length coloured pillar</description>
</model>